---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1600%20Pennsylvania%20Avenue%20NW,%20Washington,%20DC%2020500&key=AIzaSyBylKyQvOsvKYOfXxmvKJS3-GLUuyL6-hc&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Washington, DC
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"1600\",\n
        \              \"short_name\" : \"1600\",\n               \"types\" : \n               [\n
        \                 \"street_number\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Pennsylvania Avenue Northwest\",\n               \"short_name\"
        : \"Pennsylvania Avenue NW\",\n               \"types\" : \n               [\n
        \                 \"route\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Northwest Washington\",\n               \"short_name\"
        [...]
