---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<API_KEY>&lat=38.897556&lon=-77.03645399999999&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-77.0365,"lat":38.8976},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":55.51,"feels_like":53.2,"temp_min":52.7,"temp_max":57.18,"pressure":1020,"humidity":52,"sea_level":1020,"grnd_level":1012},"visibility":10000,"wind":{"speed":11.5,"deg":340},"clouds":{"all":75},"dt":1729117304,"sys":{"type":2,"id":2002287,"country":"US","sunrise":1729077530,"sunset":1729117680},"timezone":-14400,"id":4140963,"name":"Washington
        D.C.","cod":200}'
  recorded_at: Wed, 16 Oct 2024 22:22:24 GMT
recorded_with: VCR 6.3.1
