---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=test&lat=38.897556&lon=-77.03645399999999&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.4194,"lat":37.7749},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"base":"stations","main":{"temp":66.72,"feels_like":66.67,"temp_min":63.32,"temp_max":73.49,"pressure":1016,"humidity":76,"sea_level":1016,"grnd_level":1012},"visibility":10000,"wind":{"speed":15.99,"deg":308,"gust":25.01},"clouds":{"all":20},"dt":1729033199,"sys":{"type":2,"id":2017837,"country":"US","sunrise":1729001905,"sunset":1729042311},"timezone":-25200,"id":5391959,"name":"San
        Francisco","cod":200}'
  recorded_at: Tue, 15 Oct 2024 23:05:18 GMT
recorded_with: VCR 6.3.1
