---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<API_KEY>&lat=38.897556&lon=-77.03645399999999&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1729123200,"main":{"temp":54.21,"feels_like":51.73,"temp_min":51.64,"temp_max":54.21,"pressure":1020,"sea_level":1020,"grnd_level":1014,"humidity":51,"temp_kf":1.43},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":66},"wind":{"speed":7.05,"deg":342,"gust":16.53},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-10-17
        00:00:00"},{"dt":1729134000,"main":{"temp":52.07,"feels_like":49.33,"temp_min":50.34,"temp_max":52.07,"pressure":1022,"sea_level":1022,"grnd_level":1015,"humidity":50,"temp_kf":0.96},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":51},"wind":{"speed":8.37,"deg":354,"gust":18.86},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-10-17
        03:00:00"},{"dt":1729144800,"main":{"temp":46.94,"feels_like":43.38,[...]
