---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=test&lat=38.897556&lon=-77.03645399999999&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1729036800,"main":{"temp":67.19,"feels_like":67.14,"temp_min":62.92,"temp_max":67.19,"pressure":1016,"sea_level":1016,"grnd_level":1012,"humidity":75,"temp_kf":2.37},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"clouds":{"all":20},"wind":{"speed":14.09,"deg":267,"gust":20.83},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2024-10-16
        00:00:00"},{"dt":1729047600,"main":{"temp":65.14,"feels_like":65.01,"temp_min":61.02,"temp_max":65.14,"pressure":1016,"sea_level":1016,"grnd_level":1012,"humidity":78,"temp_kf":2.29},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"clouds":{"all":14},"wind":{"speed":8.77,"deg":260,"gust":17.07},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-10-16
        03:00:00"},{"dt":1729058400,"main":{"temp":62.64,"feels_like":62.4,"tem[...]
