---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1600%20Pennsylvania%20Avenue%20NW,%20Washington,%20DC%2020500&key=AIzaSyBylKyQvOsvKYOfXxmvKJS3-GLUuyL6-hc&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Washington, DC
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"1600\",\n
        \              \"short_name\" : \"1600\",\n               \"types\" : \n               [\n
        \                 \"street_number\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Pennsylvania Avenue Northwest\",\n               \"short_name\"
        : \"Pennsylvania Avenue NW\",\n               \"types\" : \n               [\n
        \                 \"route\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Northwest Washington\",\n               \"short_name\"
        [...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<API_KEY>&lat=38.8975562&lon=-77.03645399999999&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-77.0365,"lat":38.8976},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"base":"stations","main":{"temp":56.23,"feels_like":54,"temp_min":53.96,"temp_max":58.37,"pressure":1020,"humidity":52,"sea_level":1020,"grnd_level":1013},"visibility":10000,"wind":{"speed":16.11,"deg":340},"clouds":{"all":100},"dt":1729100760,"sys":{"type":2,"id":2002287,"country":"US","sunrise":1729077530,"sunset":1729117680},"timezone":-14400,"id":4140963,"name":"Washington
        D.C.","cod":200}'
  recorded_at: Wed, 16 Oct 2024 17:46:00 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<API_KEY>&lat=38.8975562&lon=-77.03645399999999&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1729101600,"main":{"temp":56.23,"feels_like":54,"temp_min":55.4,"temp_max":56.23,"pressure":1020,"sea_level":1020,"grnd_level":1013,"humidity":52,"temp_kf":0.46},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":{"all":100},"wind":{"speed":10.4,"deg":328,"gust":13.27},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2024-10-16
        18:00:00"},{"dt":1729112400,"main":{"temp":55.62,"feels_like":53.19,"temp_min":54.39,"temp_max":55.62,"pressure":1020,"sea_level":1020,"grnd_level":1013,"humidity":49,"temp_kf":0.68},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":{"all":100},"wind":{"speed":8.7,"deg":335,"gust":15.88},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2024-10-16
        21:00:00"},{"dt":1729123200,"main":{"temp":53.15,"feels_like":50.6[...]
